<div *ngFor="let psychologist of psychologists">
    <div class="card w-75 mx-auto mt-5">
        <div class="card-header">
            {{psychologist.psychologistName}} {{psychologist.psychologistSurname}}
            <button type="button" class="btn btn-danger" style="float: right; margin-left: 10px;"
                (click)="Delete(psychologist.id)">Delete</button>
            <button routerLink="/psychologists/edit/{{psychologist.id}}" type="button" class="btn btn-primary"
                style="float: right; margin-left: 10px;">Edit</button>
            <button routerLink="/psychologists/editschedule/{{psychologist.id}}" type="button" class="btn btn-primary"
                style="float: right; margin-left: 10px;">Edit schedule</button>
        </div>
        <div class="card-body">
            <ul>
                <li>
                    Expertise:
                    <ul>
                        <li> {{GetSpecialtyName(psychologist.expertiseId1)}} </li>
                        <li> {{GetSpecialtyName(psychologist.expertiseId2)}} </li>
                        <li> {{GetSpecialtyName(psychologist.expertiseId3)}} </li>
                    </ul>
                </li>
                <li>ActiveYears: {{psychologist.activeYears}}</li>
            </ul>
        </div>
    </div>
</div>
