<div class="card w-75 mx-auto mt-5">
    <div class="card-body">
        <form [formGroup]="psychologistForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Name:</label>
                <input type="text" formControlName="psychologistName" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Surname:</label>
                <input type="text" formControlName="psychologistSurname" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Address:</label>
                <input type="text" formControlName="address" class="form-control">
            </div>
            <!-- <div class="mb-3">
                <label class="form-label">Schedule:</label>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Monday</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="col-form-label-sm">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Tuesday</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="col-form-label-sm">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Wednesday</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="col-form-label-sm">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Thursday</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="col-form-label-sm">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Friday</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                            placeholder="col-form-label-sm">
                    </div>
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label">Active years:</label>
                <input type="text" formControlName="activeYears" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Fee:</label>
                <select class="form-select" formControlName="fee" required>
                    <option value="500">500 per hours</option>
                    <option value="750">750 per hour</option>
                    <option value="1000">1000 per hour</option>
                    <option value="2000">2000 per hour</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Expertise 1:</label>
                <select class="form-select" formControlName="expertiseId1">
                    <option value="1">Depresión</option>
                    <option value="2">Estrés</option>
                    <option value="3">Ansiedad</option>
                    <option value="4">Autoestima</option>
                    <option value="5">Enojo</option>
                    <option value="6">Relaciones</option>
                    <option value="7">Duelo</option>
                    <option value="8">Y más</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Expertise 2:</label>
                <select class="form-select" formControlName="expertiseId2">
                    <option value="1">Depresión</option>
                    <option value="2">Estrés</option>
                    <option value="3">Ansiedad</option>
                    <option value="4">Autoestima</option>
                    <option value="5">Enojo</option>
                    <option value="6">Relaciones</option>
                    <option value="7">Duelo</option>
                    <option value="8">Y más</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Expertise 3:</label>
                <select class="form-select" formControlName="expertiseId3">
                    <option value="1">Depresión</option>
                    <option value="2">Estrés</option>
                    <option value="3">Ansiedad</option>
                    <option value="4">Autoestima</option>
                    <option value="5">Enojo</option>
                    <option value="6">Relaciones</option>
                    <option value="7">Duelo</option>
                    <option value="8">Y más</option>
                </select>
            </div>
            <button type="button" class="btn btn-danger" (click)="goBack()" style="float: right; margin-left: 10px;">Go
                back</button>
            <button type="submit" class="btn btn-primary" style="float: right">Save changes</button>
        </form>
    </div>
</div>