<div class="card w-75 mx-auto mt-5">
  <div class="card-header"> Schedule </div>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label col-form-label-sm">Monday</label>
      <div class="col-sm-10 mt-2">
          <input type="email" class="form-control form-control-sm" >
      </div>
      <label class="col-sm-2 col-form-label col-form-label-sm">Tuesday</label>
      <div class="col-sm-10 mt-2">
          <input type="email" class="form-control form-control-sm" >
      </div>
      <label class="col-sm-2 col-form-label col-form-label-sm">Wednesday</label>
      <div class="col-sm-10 mt-2">
          <input type="email" class="form-control form-control-sm" >
      </div>
      <label class="col-sm-2 col-form-label col-form-label-sm">Thursday</label>
      <div class="col-sm-10 mt-2">
          <input type="email" class="form-control form-control-sm">
      </div>
      <label class="col-sm-2 col-form-label col-form-label-sm">Friday</label>
      <div class="col-sm-10 mt-2">
          <input type="email" class="form-control form-control-sm" >
      </div>
    </div>
  </div>

</div>
