<div *ngFor="let content of contents">
  <div class="card w-75 mx-auto mt-5">
    <div class="card-header">
        {{content.name}}
        <button type="button" class="btn btn-danger" style="float: right; margin-left: 10px;" (click)="Delete(content.id)">Delete</button>
    </div>
    <div class="card-body">
      <img src={{content.imageURL}} class="card-img-top">
      <ul>
          <li>Author: {{content.author}}</li>
          <li>Duration: {{content.duration}} minutes</li>
      </ul>
    </div>
    <div class="card-footer">
      <label class="form-label">Playlist:</label>
      <select class="form-select" [(ngModel)]="selectedPlaylist">
        <option [ngValue]="playlist" *ngFor="let playlist of playlists">{{ playlist.name }}</option>
      </select>
      <button type="button" class="btn btn-primary mt-2" (click)="AddToPlaylist(selectedPlaylist.id, content.id)">Add to playlist</button>
    </div>
  </div>
</div>
