<div *ngIf="categoryElement?.author != undefined; else playlist" class="card mt-5">
  <div class = "card-header">{{ categoryElement?.name }}</div>
  <div class="card-body">
    <img src={{categoryElement?.imageURL}} class="card-img-top">
    <p class="card-text">
      Author: {{categoryElement?.author}}.<br>
      Duration: {{categoryElement?.duration}} minutes <br>
    </p>
  </div>
</div>

<ng-template #playlist>
  <div class="card mt-5">
    <div class = "card-header">{{ categoryElement?.name }}</div>
    <div class="card-body">
      <img src={{categoryElement?.imageURL}} class="card-img-top">
      <p class="card-text">
        {{categoryElement?.description}}<br>
      </p>
    </div>
  </div>
</ng-template>
