  
name: build and test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: '3.1.x'
    - name: Install dependencies
      run: cd WebAPI && dotnet restore
    - name: Build
      run: dotnet build
    - name: Test with the dotnet CLI
      run: cd WebAPI && dotnet test
